body {
    font-family: Arial, sans-serif;
}

.accordion .card-header:after {
    font-family: 'FontAwesome', serif;
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.pointer {
    cursor: pointer;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 500rem;
}

.btn-twitch {
    color: #FFFFFF;
    background-color: #6441A5;
    border-color: #2F1F4E;
}

.pronoun-option {
    min-width: 15rem;
}
